* {
    padding: 0;
    margin: 0;
}
.font-10 {
    font-size: 10rem;
}
.navbar-toggler-icon {
    background-image: url("Assets/Images/Logo/logo.png") !important;
    background-color: black;
    width: 4rem !important;
    height: 4rem !important;
}

$orangeColor: #d2830a;
@font-face {
    font-family: imp;
    src: url("./Assets/Fonts/impact.ttf");
}
@font-face {
    font-family: poppinsMed;
    src: url("Assets/Fonts/Poppins-Regular.ttf");
}
.poppins {
    font-family: poppins;
}
.orange {
    color: $orangeColor;
}
.imp {
    font-family: imp;
    color: white;
}
.custom-btn {
    border: 1px solid $orangeColor !important;
    &:hover {
        background-color: $orangeColor !important;
    }
}
.custom-nav-link {
    border: 1px solid $orangeColor;
    padding: 4px 10px 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
        background-color: $orangeColor;
        transition: 1s;
        color: white;
    }
}
.home {
    min-width: 100%;
}
.posters {
    min-width: 100%;
    height: 100vh;
}
.navbar-container {
    position: absolute;
    min-width: 100%;
    z-index: 10;
}
.nav-links {
    min-width: 100%;
}
.links-nav {
    font-family: imp;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    &:hover {
        color: $orangeColor;
    }
}

.Lewis {
    height: 100%;
    background-image: url("Assets/Images/Lewis.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top 0;
   
}

.Tyson {
    height: 100%;
    background-image: url("Assets/Images/Tyson.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top 0;
}

.poster-d {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    height: 100vh;
    background-color: black;
}

.top-text-poster{
    font-size: 20px;
}
.bottom-text-poster{
    font-size: 25px;
}
.lewis-name {
    font-size: 84px;
}
.tyson-name {
    font-size: 76px;
}

.last-poster {
    font-size: 25px;
}
.poster-m {
    display: none;
}

.stats {
    min-width: 100%;
    height: 100vh;
    background-color:black;
}

.poster-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.middle-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    background-color: black;
    height: 100%;
}
.tyson-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tyson-stats-img {
    height: 450px;
    width: 650px;
    background-image: url("Assets/Images/Tyson/Tyson-stats-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.lewis-stats {
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}

.lewis-stats-img {
    height: 450px;
    width: 650px;
    background-image: url("Assets/Images/Lewis/Lewis-stats-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.tr-hover {
background-color: rgb(91 91 91 / 35%);
    &:hover{
        background-color: #ff000066;
        cursor: pointer;
    }
   
}
.table-stats{
    border: 1px solid #2d2d2d;
}
.press {
    background-color: #000000ed;
    min-width: 100%;
}
.press-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#press-video-styles {
    width: 300px;
    height: 300px;
    border: 1px solid #2d2d2d;
    overflow: hidden;
    &:hover {
        #zoom{
            transform: scale(1.2);
            transition: 1s;
            cursor: pointer;
        }

    }
}
::-webkit-scrollbar {
    display: none;
}
.press-one {
    width: 300px;
    height: 300px;
    background-image: url("Assets/Images/Press/Press1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.press-two {
    width: 300px;
    height: 300px;
    background-image: url("Assets/Images/Press/Press2.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.press-three {
    width: 300px;
    height: 300px;
    background-image: url("Assets/Images/Press/Press3.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.modal-content {
    background-color: unset !important;
}
.modal-header {
    background-color: rgb(45 45 45);
    border-bottom: unset !important;
}
.modal-body {
    background-color: rgb(45 45 45);
    border: none;
}
.btn-close {
    background: url("Assets/Images/Buttons/close.png") center/1em auto no-repeat !important;
    background-size: contain;
}
.press-video-container {
    max-width: 300px !important;
}
.PPV {
    background-color: black;
    min-width: 100%;
}

/*MAP*/
.event-map {
    min-width: 100%;
}
.map-container {
    min-width: 100%;
}
#embed-ded-map-canvas {
    height:100%;
     width:100%;
     max-width:100%;
}
#embed-ded-map-canvas img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}
.map-style {
    overflow:hidden;
    max-width:100%;
    width:100%;
    height:500px;
}
.map-iframe {
    height:100%;width:100%;border:0;
}

.footer-container {
    min-width: 100%;
    bottom: 0;
    position: relative;
}

.footer {
    width: 100%;
    background-color: black;
}
.footer-cols {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-cols-center {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.example-page {
    min-width: 100%;
    height: 100vh;
}
.not-found-404 {
    min-width: 100%;
    height: 100vh;
    background-color: #000000d4;

}
.nav-link-footer {
    color: white;
    text-decoration: none;
    &:hover {
        color: $orangeColor;
    }
}
@media only screen and  (max-width: 767px) {
    .poster-d {
        display: none !important;
    }

    .middle-txt {
        padding-top: 120px;
    }
   
    .poster-m{
        min-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: black;
    }
    .poster-m-img {
        background-image: url("Assets/Images/poster-m.png") !important;
        min-width: 100%;
        height: 100vh;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .brand{
        display: none;
    }

    .top-text-poster {
        font-size: 14px;
    }

    .lewis-name {
        font-size: 60px;
    }
    .tyson-name {
        font-size: 54px;
    }
    .bottom-text-poster {
        font-size: 18px;
    }
    .last-poster {
        font-size: 18px;
    }

    .stats {
        flex-direction: column;
    }
    .tyson-stats {
        margin: 0 !important;
        flex-direction: column;
    }
    .tyson-stats-img {
        margin: 0;
    }
    .lewis-stats {
        margin: 0 !important;
        flex-direction: column;
    }
    .lewis-stats-img {
        margin: 0 !important;
    }
    .footer-cols {
        padding: 10px 10px 0 25px;
    }

    .footer-cols-center {
        padding: 15px 10px 0 25px;
        align-items: flex-start;
    }
    

}

@media only screen and (min-width:768px) and (max-width: 992px){
 
    .middle-txt {
        padding-top:120px;
        justify-content: flex-start;
    }

    .top-text-poster {
        font-size: 10px;
    }

    .lewis-name {
        font-size: 40px;
    }
    .tyson-name {
        font-size: 36px;
    }
    .bottom-text-poster {
        font-size: 13px;
    }
    .last-poster {
        font-size: 13px;
    }
    .stats {
        flex-direction: column;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1470px){

    .poster-m-img {
        background-image: url("Assets/Images/poster-t.png");
    }
    .top-text-poster {
        font-size: 13px;
    }

    .lewis-name {
        font-size: 55px;
    }
    .tyson-name {
        font-size: 49px;
    }
    .bottom-text-poster {
        font-size: 17px;
    }
    .last-poster {
        font-size: 17px;
    }

}

